.body {
  background-color: bisque;
}

.mem-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid black;
}

.input {
  opacity: 0;
}







@media screen and (min-width: 320px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .title {
    font-size: 1rem;
    transition: all .5s;
  }

  .close {
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    transition: all .5s;
    transform: rotate(45deg);
    opacity: 0;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }

  .image {
    display: block;
    margin: 0 auto;
    width: 0%;
    transition: all 1s;
/*     width: 90%; */
  }

  .mem-section {
    display: flex;
    flex-direction: column-reverse;
  }


/*   Part 1 */

  .wrapper:hover {
    cursor: pointer;
  }


  .input:not(:checked) ~ .mem-title .title {
    color:blueviolet;
  }

  .wrapper:hover .close{
    opacity: 1;
  }

  .mem-section:hover .close {
    transform: rotate(0deg);
  }

  .wrapper:hover .mem-section .mem-title .title {
    color: black;
  }

  .input:checked ~ .mem-title .close {
    transform: rotate(0deg);
  }


/*   part 2 */


.mem-section:hover .image {
  width: 70%;
}


/* part 3.1 */

.mem-section:active .image {
  opacity: 0.5;
}

.mem-section:active .mem-title .close {
  background-color: blueviolet;
}

.mem-section:hover:active .mem-title .title {
  color: blueviolet;
}


/* part 3.2 */




}

@media screen and (min-width: 820px) {
  .wrapper {
    width: 75%;
  }



  .title {
    font-size: 1.5rem;
  }

/*   .image {
    width: 75%;
  }
 */
  .mem-section:hover .image {
    width: 55%;
  }

}

@media screen and (min-width: 1920px) {
  .wrapper {
    width: 60%;
  }

  .title {
    font-size: 2rem;
  }

/*   .image {
    width: 60%;
  } */

  .mem-section:hover .image,
  .input:checked ~ .image{
    width: 40%;
  }



}