.body {
  background-color: bisque;
}

.mem-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid black;
}

.input {
  opacity: 0;
}

.svg-close{
  width: 1.75rem;
  height: 1.75rem;

  opacity: 0;
  transition: all .5s;
}

.svg-close{
  transition: all .5s;
  transform: rotate(-45deg);
}

.svg {
  fill: black;
}






@media screen and (min-width: 320px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .title {
    font-size: 1rem;
    transition: all .5s;
  }

  .image {
    display: block;
    margin: 0 auto;
    width: 0%;
    transition: all 1s;
/*     width: 90%; */
  }

  .mem-section {
    display: flex;
    flex-direction: column-reverse;
  }


/*   Part 1 */

  .wrapper:hover {
    cursor: pointer;
  }

  .input:not(:checked) ~ .mem-title .title {
    color:blueviolet;
  }

  .wrapper:hover .svg-close {
    opacity: 1;
  }

  .mem-section:hover .svg-close {
    transform: rotate(0deg);
  }

  .wrapper:hover .mem-section .mem-title .title {
    color: black;
  }

  .input:checked ~ .mem-title .svg-close {
    transform: rotate(0deg);
  }


  

/*   .wrapper:hover .mem-section .mem-title .title {
    color: black;
  }





  .mem-section:hover .image {
    width: 70%;
  }


  
  .mem-section:active .mem-title .title {
    color: blueviolet;
  }

  .mem-section:active .image {
    opacity: 0.5;
  }
 */


}

@media screen and (min-width: 820px) {
  .wrapper {
    width: 75%;
  }



  .title {
    font-size: 1.5rem;
  }

  .image {
/*     width: 75%; */
  }

  .mem-section:hover .image {
    width: 55%;
  }

}

@media screen and (min-width: 1920px) {
  .wrapper {
    width: 60%;
  }

  .title {
    font-size: 2rem;
  }

  .image {
/*     width: 60%; */
  }

  .mem-section:hover .image,
  .input:checked ~ .image{
    width: 40%;
  }



}